<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>网格布局</title>
  <link rel="stylesheet" href="../common.css">
  <style>
    /* 双容器模式 */
    .container {
      max-width: 1080px;
      margin: 0 auto;
    }

    header {
      padding: 1em 1.5em;
      color: #fff;
      background-color: #0072b0;
      border-radius: .5em;
      margin-bottom: 1.5em;
    }

    .test {
      display: inline-block;
      background-color: #0072b0;
    }
  </style>
</head>

<body>
  <div class="test">sssfssffs</div>
  <div class="container">
    <header>

    </header>
    <main>
      <div class="row">
        <div class="column-6"></div>
        <div class="column-6"></div>
      </div>
      <div class="row">
        <div class="column-6"></div>
        <div class="column-6"></div>
      </div>
    </main>


  </div>
</body>

</html>